body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    background: url('bg15.png');
    background-size: cover;
    line-height: 1;
}
.container {
    width: 80%;
    overflow: hidden;
    line-height: 1.5;
    margin: auto;
}

header {
    background: #807cc2;
    color:#ffffff;
    min-height: 70px;
    border-bottom: 4px solid black; 
      
}
  .ole {
    width: 400px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background:gray;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    margin-top: 15px;
    border-radius: 6px;
}
.abt {
    width: 700px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background:rgb(255, 255, 255);
    background-size: cover;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    margin-top: 15px;
    border-radius: 6px;
  
}
.abt h1 { 
    color: black;
    margin-bottom: 20px; 
}

.box-shadow {
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    width: 90%;
    border:none;
    outline: none;
    }
   
img { 
    width: 20%;
    height: 20%;
    border-radius: 80%;
   
}
footer 
{
    background: #2B286F;
    padding: 20px;
    color: white;
    text-align: center;
}
footer img
{
    width: 40px;
    height: 40px;
}

 

